* {  
    margin: 0; 
    background-color: #3c40c6;
}

header {  
    background-color: #3c40c6;  
    color: #ffffff;  
    display: flex;                  
    align-items: center;  
    padding-top: 30px;
}  


.hdr-container {  
    display: flex;                
    flex-direction: row;           
    gap: 70px;                      
}  

h1 {  
    margin-right: 500px;  
    padding-left: 200px;
}

/* Меін */

.main {  
    margin-top: 100px;
    font-family: Arial, sans-serif;      
    height: auto;
    text-decoration: none;   
     
}  

.main a {
    text-decoration: none;
}

.main h4 {  
    color: #080404;  
    padding-top: 16px;  
    background-color: #ffffff;
}  

.main p {  
    padding-top: 15px;  
    background-color: #ffffff;  
    font-size: 20px;    
}  

.container-box1 {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-align: center;  
}  

.box-container {  
    display: flex;  
    justify-content: left;  
    flex-wrap: wrap;  
    padding: 20px;  
    background-color: #ffffff;  
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    width: 250px;  
    margin: 40px;  
}  

.color-box1 {  
    width: 50px;  
    height: 50px;  
}

/* Футер */

footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.ftr1 {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #e6e6f9;
}

.ftr1 h2 {
    margin-bottom: 20px;
}  

.ftr1 a { 
    display: block;  
    margin: 5px 0;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #e6e6f9;
    text-decoration: none;
}

.ftr2 {
    display: block;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #e6e6f9;
}

.ftr2 h2 {  
    margin-bottom: 20px; 
}  

.ftr2 a {  
    display: block;  
    margin: 5px 0;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #e6e6f9;
    text-decoration: none; 
}

.ftr3 {
    margin-bottom: 20px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #e6e6f9;
}

.ftr3 p {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #e6e6f9;
}


.ftr3 a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #e6e6f9;
}

